body{
    background-color:  white;
}
header{
    margin-left: 30rem;
    margin-top: 2rem;
    font-size: 50px;
}
.forecast{
    margin-left: 38rem;
    margin-top: 1rem;
}
#getForecast{
    margin-left: 45rem;
    margin-top: 1rem;
}
#statelist{
    padding-top: 2.4px;
    padding-left: 1rem;
    padding-bottom: 2.4px;
    padding-right: 1rem;
}
#location{
    margin-top: 2rem;
    margin-left: 15rem;
}
#temp{
    margin-left: 18rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.card-header{
    background: linear-gradient(to right, #9900ff 20%, #66ffff 80%);

}
p{
    padding-top: 1rem;
    justify-content: space-between;
    word-spacing: 50px;
    margin-left: 2rem;
}
span{
   word-spacing: 0;
}
h1{
    word-spacing: 0;
}
